<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="code-working" slot="start"></ion-icon>
        <p>
          This is a sample news application built on Ionic 4.0.0 and Angular
        </p>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
        <p>
          credits to NewsAPI.org
        </p>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
        <p>
          All rights reserved
        </p>
    </ion-item>
  </ion-list>
</ion-content>

